body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 5px;
  padding: 20px;
  background-color: #f7f7f7;
}

.calculator-display {
  margin-bottom: 10px;
  margin-right: 20px;
}

.calculator-screen {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.btn {
  flex: 1 0 25%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e4e4e4;
  cursor: pointer;
}

.button:hover {
  background-color: #d4d4d4;
}

#clear-button,
#del-button {
  width: 70px;
}
